body{
    font-family: 'Poppins',sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
}
section{
    display: inline-block ;
}
p{
    color: dimgray;
}
a:hover{
    background-color: lightseagreen;
}
.half-banner{
    width: 40%;
    float: left;
    padding: 2%;
    margin: 3%;
}
.half-banner img{
    width: 100%;
}
.frist-bannar{
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
    background-position: left;

}
.name-design{
    color:#EC4C7A;
}
.name-design h1{
    font-size: 60px;
    font-weight: bolder;
}
.name-details{
    margin-bottom: 30px;
}
.hire-button{
    color:white;
    border-radius: 5px;
    background-color:#EC4C7A;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 30px;
}
.second-banner{
    background-image:url("images/biography-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
.last-work{
    background-image: url("images/latest-work-bg.png");
    background-repeat: no-repeat;
}
#work-heading{
    text-align: center;
}
.work-gallary{
    width:25%;
    float:left;
    padding-left: 2%;
    margin-left: 3%;
}
.work-gallary img{
    width: 100%;
}
.end-banner{
    background-image: url("images/footer-bg.png");
    background-repeat: no-repeat;
    width:100%;
}
.end-banner{
    text-align: center;
}
.clint-name{
    margin-top: 20px;
    font-weight: bold;
}
.rank{
    font-size: 15px;
    color:darkgrey;
}
.message{
    border-radius: 5px;
    background-color: #EC4C7A;
    margin-left:360px;
    margin-top: 50px;
    width:45%;
    padding:10px 20px;
}
.message p{
    color:white;
}
.message span{
    font-size: 20px;
    font-weight: 700;
}
footer{
    width:100%;
    text-align: center;
    margin-top: 100px;
    font-size: 12px;;
}
.hello{
    margin-left: 90px;
    width:100%;
    padding-top: 83px;
}
.hello h1{
    font-size: 50px;
    font-weight: normal;
}